body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #666;
	padding: 0px;
	font-size: 36px;
	font-family: "trebuchet ms", sans-serif;    
}

.navbar-inverse .navbar-brand
{
	background-color: #fe57b1;
	background-image:  #fe57b1;
	border-color: #fe57b1;
}

.contain
{
object-fit: contain
}

